/* Переменные */
@import '_vars';

/* Сброс */
@import '_reset';

/* Шрифты */
@import '_fonts';

/* Общие */
@import '_common';

body {
  background: url('/image/body-bg.jpg');
}

/* Обертка страницы */
.main {
  margin: 0 auto;
  max-width: 922px;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5), 5px 0 5px -5px rgba(0, 0, 0, .5);
}

/* Шапка */
.header {
  margin-bottom: -5px;
  position: relative;
  z-index: 1;
}

.header-top {
  &__container {
    padding-top: 7px;
    padding-bottom: 13px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    background: #4e2c1e;
  }

  &__phone {
    color: #fff;
    font-family: 'Book Antiqua', serif;
    font-size: 27px;
  }
  
  &__slogan {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -7px);
  }

  &__logo-link {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 47px);
    z-index: 1;
  }
}

.header-contacts {
  position: relative;

  &__btn {
    display: block;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }
}

.header-popup {
  right: 0;
  padding: 12px 5px;
  width: 320px;
  display: none;
  position: absolute;
  border: 1px solid #ce903e;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(247, 236, 212, 0.85) 40%);
  z-index: 1;

  &.active {
    display: block;
  }

  &__form {
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  &__field {
    padding: 7px 10px;
    width: 100%;
    color:  #55493f;
    font-size: 14px;
    border: 1px solid #cd8e31;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::-webkit-input-placeholder,
    &::placeholder {
      opacity: 1;
    }
  }

  textarea.header-popup__field {
    height: 74px;
    resize: none;
  }

  .selector {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &__inner span {
      color:  #55493f;
    }
  }

  &__btn {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ab6e17;
    background: linear-gradient(#e7c18d,#a66e23 50%,#9c621e);

    &:not(:first-child) {
      margin-top: 17px;
    }
  }
}

.header-bottom {
  margin-top: -5px;

  &__container {
    padding: unset;
  }
}

.header-sub-menu {
  background: #fcebc6;

  &__list {
    border: 2px solid #bfa485;
  }
  
  &__link {
    padding: 7px;
    display: block;
    
    &:hover {
      background: #d8af75;
    }
  }
}

/* Первый блок */
.hero {
  &__container {
    padding: unset;
    background: url('/image/bg.png');
  }
}

/* Персонал */
.staff {
  &__container {
    padding-top: 22px;
    display: flex;
    background: url('/image/bg.png');
  }

  &__card {
    padding: 25px 29px 60px 37px;
    font-size: 13px;
    flex: 1 0 0;
    position: relative;

    &:first-child {
      background: url('/image/ornament-left.png') center/contain no-repeat;

      .staff__card-image {
        margin-left: 10px;
        margin-bottom: 10px;
        float: right;
      }

      .staff__btn {
        bottom: 17px;
        right: 27px;
        position: absolute;
      }
    }

    &:last-child {
      background: url('/image/ornament-right.png') center/contain no-repeat;

      .staff__card-image {
        margin: -9px 22px 3px 5px;
        float: left;
      }

      .staff__title {
        text-align: right;
      }

      .staff__btn {
        bottom: 17px;
        left: 30px;
        position: absolute;
      }
    }
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #4e2c1e;
    font-family: 'Garamondc', sans-serif;
    font-size: 23px;
    font-weight: 700;
  }

  &__btn {
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    border: 1px solid #c7a865;
    border-radius: 5px;
  }
}

/* Галерея */
.gallery {
  &__container {
    padding-top: 44px;
    padding-left: 60px;
    padding-right: 60px;
    background: url('/image/bg.png');
  }
}

/* Статья */
.post {
  &__container {
    padding-top: 26px;
    padding-bottom: 90px;
    background: url('/image/bg.png');
  }

  &__title {
    margin-bottom: 10px;
    color: #4e2c1e;
    font-size: 24px;
  }

  p {
    color: #4e2c1e;
    font-size: 14px;
    word-spacing: 10px;
    text-align: justify;
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

/* Персонал */
.personal {
  &__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 23px;
    background: url('/image/bg.png');
  }
}

/* Подвал */
.footer-top {
  &__container {
    padding-left: unset;
    padding-right: unset;
    background: #4e2c1e;
    border-bottom: 1px solid #000;
  }
}

.footer-bottom {
  &__container {
    padding-left: 35px;
    padding-right: 35px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: linear-gradient(#79573d, #8f6d4d 25%, #a6845e 100%);
  }

  &__phone {
    color: #fff;
    font-family: 'Garamondc', sans-serif;
    font-size: 19px;
  }

  &__copyright {
    color: #fff;
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    align-items: center;
    display: flex;
  }
}