.header-menu {
  justify-content: space-between;
  display: flex;

  &__list {
    width: 100%;
    display: flex;
  }

  &__item {
    position: relative;
    width: 12.666%;
    flex-shrink: 0;
    border: 0 solid #bfa485;
    border-bottom-width: 2px;
    background: linear-gradient(#e7c18d, #a66e23 50%, #9c621e);

    &:first-child {
      overflow: hidden;
      border-radius: 5px 0 0 5px;

      .header-menu__link {
        border-radius: 5px 0 0 5px;
      }
    }

    &:nth-child(3) {
      margin-right: auto;
    }

    &:last-child {
      overflow: hidden;
      border-radius: 0 5px 5px 0;

      .header-menu__link {
        border-radius: 0 5px 5px 0;
      }
    }

    &:not(:first-child) {
      border-left-width: 1px;
    }

    &:not(:last-child) {
      border-right: solid #77470b;
      border-right-width: 1px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .5s;
    }

    &:hover {
      &:before {
        background: linear-gradient(#fff9e0, #f5c574 25%, #ffebc3 100%);
        opacity: 1;
      }

      .header-menu__link {
        color: #5d3e2a;
      }

      .header-sub-menu {
        max-height: 300px;
      }
    }
  }

  &__link {
    position: relative;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__sub-menu {
    position: absolute;
    width: calc(100% + 52px);
    max-height: 0;
    overflow: hidden;
    transform: translateX(-2px);
    transition: max-height .3s;
  }
}