.personal {
  &__title {
    margin-bottom: 30px;
    color: #4e2c1e;
    font-family: 'Book Antiqua', serif;
    font-size: 25px;
    text-align: center;
  }

  &__form-wrapper {
    padding: 20px 45px 15px;
    position: relative;
    background: rgba(190, 137, 63, 0.14);
    border: 1px solid #c8bfa7;

    &:before {
      left: -10px;
      top: -10px;
      content: '';
      width: 64px;
      height: 64px;
      position: absolute;
      background: url("/image/mini-ornament-left.png");
    }

    &:after {
      right: -10px;
      top: -10px;
      content: '';
      width: 64px;
      height: 64px;
      position: absolute;
      background: url("/image/mini-ornament-right.png");
    }
  }
}

.personal-form {
  font-family: Verdana, serif;
  justify-content: space-between;
  align-items: center;
  display: flex;

  .selector__inner {
    color: #45250a;
    padding-left: 15px;
    font-size: 18px;
  }

  .selector__option-list-wrapper {
    width: 230px;
  }

  .selector__option-list {
    border: 1px solid #b1b1b1;
  }

  .selector__option {
    padding: 5px 10px;
    color: #45250a;
    font-size: 18px;
  }

  &__column {
    &:nth-child(2) {
      .personal-form__row {
        text-align: end;
      }
    }
  }

  &__text {
    color: #45250a;
    font-size: 18px;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__short-input {
    margin: 0 15px;
    color: #45250a;
    font-size: 18px;
    text-align: center;
    width: 40px;
    height: 30px;
    transform: translateY(-2px);
  }

  &__btn {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ab6e17;
    border-radius: 5px;
    background: linear-gradient(#e7c18d,#a66e23 50%,#9c621e) !important;
  }
}

/* Таблица персонала */
.personal-table {
  background: url('/image/bg.png');

  &__container {
    padding-top: 26px !important;
  }

  table {
    width: 100%;
    font-family: Verdana, serif;
    font-size: 15px;
    border-collapse: collapse;
  }

  thead {
    tr {
      border: 1px solid #814b04;
    }

    th {
      text-transform: uppercase;
    }
  }

  th,
  td {
    &:first-child {
      width: 347px;
    }

    &:nth-child(2) {
      width: 228px;
    }

    &:nth-child(3) {
      width: 143px;
    }
  }

  th {
    padding: 8px 0;
    color: #fff;
    position: relative;
    background: #814b04;

    &:not(:last-child) {
      &:after {
        top: 0;
        right: 0;
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        display: block;
        background: #cea366;
      }
    }
  }

  tbody {
    tr {
      height: 32px;

      &:nth-child(odd) {
        background: #fff;
        border: 1px solid #814b04;
      }

      &:nth-child(even) {
        td {
          position: relative;

          &:not(:last-of-type) {
            &:after {
              top: 0;
              right: 0;
              content: '';
              width: 1px;
              height: 100%;
              position: absolute;
              display: block;
              background: #814b04;
            }
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid #814b04;
      }
    }
  }

  td {
    color: #654f3d;

    &:first-child {
      padding-left: 6px;
    }

    &:not(:first-child) {
      text-align: center;
    }
  }
}