.header-popup {
  form {
    align-items: center;
    flex-direction: column;
    display: flex;
  }

  &__status {
    margin-bottom: 15px;
    color: #4e2c1e;
    text-align: center;
    width: 100%;
  }

  &__field {
    padding: 7px 10px;
    width: 100%;
    color:  #55493f;
    font-size: 14px;
    border: 1px solid #cd8e31;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::-webkit-input-placeholder,
    &::placeholder {
      opacity: 1;
    }
  }

  textarea.header-popup__field {
    height: 74px;
    resize: none;
  }

  label.header-popup__field {
    cursor: pointer;
    background: #fff;
  }

  .selector {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &__inner span {
      color:  #55493f;
    }
  }

  &__btn {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ab6e17;
    background: linear-gradient(#e7c18d,#a66e23 50%,#9c621e);

    &:not(:first-child) {
      margin-top: 17px;
    }
  }
}